h1 {
    font-family: 'Varela Round', sans-serif;
    color: #156711;
    text-decoration: underline;
}

h2 {
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    color: #156711;
}

form {
    text-align: center;
}

input {
    margin: 10px;
    width: 200px;
    padding: 5px;
}

input[type=radio] {
   padding: 0;
   margin: 10px;
   width: 30px;
}

input[type=submit] {
    width: 80px;
    border-radius: 10px;
}

select {
    margin: 10px;
    width: 100px;
    height: 30px;
}

.text-center {
    height: 5rem;
}

.img-thumbnail-3 {
    height: 235px;
    width: 305px;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid var(--bs-border-color);
    border-radius: 0.375rem;
}

.img-thumbnail-4 {
    height: 235px;
    width: 305px;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid var(--bs-border-color);
    border-radius: 0.375rem;
}

.btn-outline-success {
    width: 50%;
    height: 30%;
    margin-top: 10px;
    border-radius: 10px;
}